<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Success</title>
    <meta http-equiv="refresh" content="2;url=/wish" />
</head>
<body>
    <div class="header">
        <a href="/wish/dashboard">Home</a> |  
            {% if request.session.user.username %}
                {{request.session.user.username}} is logged in | 
            {% endif %}
        <a href="/logout">Logout</a>
    </div>
    {% if request.session.name %}
    <h1>SUCCESS! Welcome, {{request.session.name}}!</h1>
    {% endif %}
    {% if messages %}
        {% for message in messages %}
            <p style="color:green;">{{message}}</p>
        {% endfor %}
    {% endif %}
    <h4>Redirecting ...</h4>
</body>
</html>