<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Create Item</title>
</head>
<body>
    <div class="header">
        <a href="/wish/dashboard">Home</a> |  
            {% if request.session.user.username %}
                {{request.session.user.username}} is logged in | 
            {% endif %}
        <a href="/logout">Logout</a>
    </div>
    <h1>Create a new wish list item</h1>
    <form action="/wish/createitem" method="post">
        {% csrf_token %}
        <input type="hidden" name="userid" value="{{request.session.userid}}">
        <input type="text" name="itemname" size="20"><br>
        <input type="submit" value="add item">
    </form>
    <div>
        {% if messages %}
        <h3 style="color:red;">Errors</h3>
            {% for message in messages %}
            <p style="color:red;">{{message}}</p>
            {% endfor %}
        {% endif %}
    </div>

</body>
</html>